<!DOCTYPE html>
<html>
<head>
  <title>I hate this food</title>
    <h1 class='title'>Recipe Hater</h1>
    <h3 class='subtitle'>We store terrible food so you don't have to.</h3>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
  <script src="angular/angular.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript" src="routes/items.js"></script>
  <script type="text/javascript" src="components/app.js"></script>
  <script type="text/javascript" src="components/list.js"></script>
  <script type="text/javascript" src="components/listItem.js"></script>
</head>
<body ng-app="app">
  <div>
    <div class='search form-inline' ng-controller="AppCtrl">
      <input type="text" ng-model="searchText" />
    
      <button ng-click="ButtonClick()">button</button>
      <h4>Searching for: {{ searchText }}</h4>
    </div>
    <!-- <div class='search form-inline' ng-controller="AppCtrl">
      <input type="text" ng-model="objectName" />
    
      <button ng-click="PostClick()">button</button>
      <h4>Posting: {{ objectName }}</h4>
    </div> -->
    <!-- <div ng-controller="AppCtrl>
      <button ng-click="PostClick()">button</button>
    </div> -->
    <div ng-controller="AppCtrl">
        <h4> List Component </h4>
         <!-- There are {{recArr.length}} recipes. -->
        <list-item ng-repeat="recipe in $" recipe=recipe />
        <ul id="recipes">
          <li>{{ $scope.recArr[0] }}{{}}{{}}{{}}{{}}</li>
        </ul>
      </div>
  </div>
  
</body>
</html>